################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProcessVirtualMachine/.vs/ProcessVirtualMachine/v15
/ProcessVirtualMachine/Debug
/ProcessVirtualMachine/ProcessVirtualMachine/Debug
/ProcessVirtualMachine/ProcessVirtualMachine/ProcessVirtualMachine.vcxproj.user
