################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProcessVirtualMachine/.vs/ProcessVirtualMachine/v15
